<H1>Map Test</H1>
<div *ngIf="gMapsLoaded | async">
  <google-map
    height="700px"
    width="100%"
    [options]="options"
    (mapMousemove)="move($event)"
    (mapClick)="addMarker($event)"
  >
    <map-marker
      *ngFor="let markerPosition of route"
      [position]="markerPosition"
      [options]="markerOptions"
    ></map-marker>
  </google-map>
  <div>Latitude: {{ display?.lat }}</div>
  <div>Longitude: {{ display?.lng }}</div>
  <div>Zoom: {{ map?.getZoom() }}</div>
  <div>Markers: {{ route?.length }}</div>
</div>
