<div class="container-fluid">
  <div class="mx-auto" style="width: 200px">
    <form [formGroup]="form">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="name"
          formControlName="name"
        />
        <label for="name">name</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
          formControlName="email"
        />
        <label for="email">Email address</label>
      </div>
      <button
        type="button"
        class="btn btn-success"
        [disabled]="!form.valid"
        (click)="addUser()"
      >
        Add User
      </button>
    </form>
  </div>
</div>
